@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/intro/intro.eot?") format("eot"), url("../fonts/intro/intro.woff") format("woff"), url("../fonts/intro/intro.ttf") format("truetype"), url("../fonts/intro/intro.svg#Intro") format("svg"); }

@font-face {
  font-family: "IntroBlackItalic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/intro-black-italic/intro-black-italic.eot?") format("eot"), url("../fonts/intro-black-italic/intro-black-italic.woff") format("woff"), url("../fonts/intro-black-italic/intro-black-italic.ttf") format("truetype"), url("../fonts/intro-black-italic/intro-black-italic.svg#IntroBlackItalic") format("svg"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/proximanova-regular/proximanova-regular.eot?") format("eot"), url("../fonts/proximanova-regular/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova-regular/proximanova-regular.svg#ProximaNova") format("svg"); }

@font-face {
  font-family: "ProximaNovaBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/proximanova-bold/proximanova-bold.eot?") format("eot"), url("../fonts/proximanova-bold/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold/proximanova-bold.svg#ProximaNovaBold") format("svg"); }

html {
  font-size: 15px; }
  @media (max-width: 992px) {
    html {
      font-size: 12px; } }
  @media (max-width: 768px) {
    html {
      font-size: 10px; } }

body {
  font-family: ProximaNova;
  color: #000; }

h1 {
  font-family: Intro;
  font-size: 5.16rem; }

h3 {
  font-family: IntroBlackItalic;
  font-size: 2.4rem;
  line-height: 1.2; }

h4 {
  font-size: 1.3rem;
  font-family: "ProximaNovaBold";
  line-height: 1.2;
  font-weight: bold; }

h6 {
  font-size: 1.2667rem;
  font-family: "ProximaNovaBold";
  line-height: 1.2; }

p {
  font-size: 1.05rem;
  line-height: 1.2; }

a {
  text-decoration: none; }
  a:hover, a :visited, a :focus {
    text-decoration: none; }

ul {
  list-style: none;
  text-decoration: none; }
  ul li {
    text-decoration: none; }

header, section {
  width: 100%; }
  header:after, section:after {
    content: "";
    width: 100%;
    clear: both;
    height: 0; }

.button-red {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4f58), to(#fd7048));
  background-image: -webkit-linear-gradient(left, #ff4f58 0%, #fd7048 100%);
  background-image: linear-gradient(90deg, #ff4f58 0%, #fd7048 100%);
  text-align: center;
  border: none;
  outline: none;
  font-stretch: condensed; }
  .button-red:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.header {
  height: 56px;
  background-color: #fff; }
  @media (max-width: 768px) {
    .header {
      height: auto; } }
  .header .logo {
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media (max-width: 768px) {
      .header .logo {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .header .logo .logo-a {
      width: 110px;
      margin-left: 15px;
      margin-right: 15px; }
      .header .logo .logo-a a {
        font-size: 2rem;
        color: #040404;
        text-transform: uppercase;
        white-space: pre; }
        .header .logo .logo-a a:hover, .header .logo .logo-a a :focus, .header .logo .logo-a a :visited {
          color: #040404; }
    .header .logo .logo-text {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 0.8667rem;
      font-family: "ProximaNova";
      color: black;
      text-transform: uppercase;
      line-height: 1.2; }
  .header .callback {
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media (max-width: 768px) {
      .header .callback {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .header .callback .callback-phone {
      font-size: 2.33rem;
      font-family: "ProximaNovaBold";
      font-weight: bold;
      color: black;
      text-transform: uppercase; }
      @media (max-width: 992px) {
        .header .callback .callback-phone {
          font-size: 2rem; } }
    .header .callback .callback-button button {
      height: 30px;
      width: 130px;
      line-height: 30px;
      font-size: 0.866rem;
      font-family: "ProximaNovaBold";
      font-weight: bold;
      color: white;
      margin: auto 15px auto 18px; }

.bgd-image {
  width: 100%;
  height: 100%;
  position: relative; }
  .bgd-image:after {
    content: "";
    width: 100%;
    clear: both;
    height: 0; }
  .bgd-image .slides-images {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1; }
    .bgd-image .slides-images img {
      z-index: 1;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      height: 100%;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    .bgd-image .slides-images img.active {
      opacity: 0.99; }
  .bgd-image .dark {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 35px;
    position: absolute;
    z-index: 2; }

section {
  z-index: 10; }

.navbar {
  min-height: 0px;
  margin-bottom: 0px; }
  .navbar .navbar-toggle {
    padding: 7.5px;
    margin: 0; }
  .navbar .icon-bar {
    background-color: #fff; }
  .navbar .navbar-collapse {
    padding-right: 0; }

.nav {
  height: 35px;
  position: relative;
  z-index: 2; }
  @media (max-width: 768px) {
    .nav {
      height: auto; } }
  .nav .menu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: auto;
    height: 35px;
    z-index: 3; }
    @media (max-width: 768px) {
      .nav .menu-list {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end; } }
    .nav .menu-list .menu-item {
      width: 20%;
      text-align: center;
      border-right: 1px solid #cccccc;
      line-height: 1.2; }
      @media (max-width: 768px) {
        .nav .menu-list .menu-item {
          width: 200px;
          text-align: right;
          border-right: none;
          padding: 5px 15px;
          border-bottom: 1px solid #cccccc;
          background-color: #717171; } }
      .nav .menu-list .menu-item:last-child {
        border-right: none; }
      .nav .menu-list .menu-item a {
        font-size: 0.933rem;
        color: white;
        text-transform: uppercase;
        line-height: 1.2; }
        @media (max-width: 768px) {
          .nav .menu-list .menu-item a {
            padding: 5px 15px; } }
        .nav .menu-list .menu-item a:hover, .nav .menu-list .menu-item a :focus, .nav .menu-list .menu-item a :visited {
          color: white; }

.content {
  padding-top: 35px;
  overflow: hidden;
  position: relative; }
  .content .container {
    z-index: 10;
    position: relative; }
  .content .angle-dark {
    z-index: 1;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: -10%;
    width: 40%;
    -webkit-transform: skewX(-16.7deg);
    -ms-transform: skewX(-16.7deg);
    transform: skewX(-16.7deg);
    background-color: rgba(0, 0, 0, 0.4); }
    .content .angle-dark:after {
      content: "";
      width: 100%;
      clear: both;
      height: 0; }
    @media (max-width: 768px) {
      .content .angle-dark {
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        left: 0; } }
  @media (max-width: 768px) {
    .content {
      text-align: center; }
      .content .wall-h h1 {
        font-size: 3.5rem; }
      .content .wall-h, .content .wall-text, .content .content-text {
        text-align: center; }
      .content .content-text-idea {
        text-align: center !important; }
      .content .slider {
        margin-left: auto !important;
        margin-right: auto; } }
  .content .about-wall {
    position: relative;
    -webkit-transform: skewX(-16.7deg);
    -ms-transform: skewX(-16.7deg);
    transform: skewX(-16.7deg);
    border-left: 3px solid white;
    padding-left: 10px; }
    .content .about-wall .wall-h {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.702); }
      .content .about-wall .wall-h h1 {
        margin: 0px;
        display: inline-block;
        -webkit-transform: skewX(16.7deg);
        -ms-transform: skewX(16.7deg);
        transform: skewX(16.7deg);
        color: #000;
        padding-left: 15px;
        padding-right: 15px; }
    .content .about-wall .wall-text {
      margin-top: 10px; }
      .content .about-wall .wall-text .wall-where {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.702);
        padding-left: 15px;
        padding-right: 15px; }
        .content .about-wall .wall-text .wall-where h3 {
          margin: 0px;
          display: inline-block;
          -webkit-transform: skewX(16.7deg);
          -ms-transform: skewX(16.7deg);
          transform: skewX(16.7deg);
          color: #000;
          padding-left: 40px;
          padding-right: 40px;
          border-bottom: 3px solid #000;
          margin-bottom: 10px; }
      .content .about-wall .wall-text .wall-price {
        display: inline-block;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#2aeb2a), to(#007500));
        background-image: -webkit-linear-gradient(bottom, #2aeb2a 0%, #007500 100%);
        background-image: linear-gradient(0deg, #2aeb2a 0%, #007500 100%);
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
        margin-left: 10px;
        vertical-align: middle; }
        .content .about-wall .wall-text .wall-price p {
          font-size: 1.347rem;
          font-family: "Intro";
          color: white;
          line-height: 1.2;
          -webkit-transform: skewX(16.7deg);
          -ms-transform: skewX(16.7deg);
          transform: skewX(16.7deg);
          display: inline-block;
          padding-left: 25px;
          padding-right: 25px;
          margin-bottom: 0px; }
          .content .about-wall .wall-text .wall-price p span {
            font-family: IntroBlackItalic;
            font-style: italic;
            font-size: 2.5rem; }
  .content .content-text {
    padding-left: 15px;
    margin-top: 25px; }
    .content .content-text .content-text-idea {
      text-align: left; }
      .content .content-text .content-text-idea h6 {
        color: white;
        text-transform: uppercase; }
    .content .content-text .content-text-button {
      margin-top: 25px; }
      .content .content-text .content-text-button button {
        height: 45px;
        width: 225px;
        border-width: 2px;
        border-color: white;
        border-style: solid;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-image: -webkit-gradient(linear, left top, right top, from(#ff4f58), to(#fd7048));
        background-image: -webkit-linear-gradient(left, #ff4f58 0%, #fd7048 100%);
        background-image: linear-gradient(90deg, #ff4f58 0%, #fd7048 100%);
        font-size: 1.533rem;
        font-family: "ProximaNovaBold";
        color: white;
        text-transform: uppercase;
        line-height: 1.533rem;
        text-align: center;
        -webkit-transform: matrix(1.00009, 0, 0, 0.99971, 0, 0);
        -ms-transform: matrix(1.00009, 0, 0, 0.99971, 0, 0);
        transform: matrix(1.00009, 0, 0, 0.99971, 0, 0); }
  .content .slider {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    width: 225px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .content .slider .left-arrow {
      display: inline-block;
      cursor: pointer; }
    .content .slider .right-arrow {
      display: inline-block;
      cursor: pointer; }
    .content .slider .pointer {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin-right: 10px;
      border-width: 2px;
      border-color: white;
      border-style: solid;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      text-align: center;
      cursor: pointer; }
      .content .slider .pointer div {
        display: block;
        width: 6px;
        height: 6px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto; }
    .content .slider .active div {
      background-color: white; }

.description {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2; }
  @media (max-width: 768px) {
    .description .desc-item-text p {
      padding-left: 25%;
      padding-right: 25%; } }
  .description .desc-item {
    margin-top: 20px;
    text-align: center; }
    .description .desc-item .desc-item-image img {
      width: 98px;
      height: 98px;
      margin: auto; }
    .description .desc-item .desc-item-text {
      text-align: center; }
      .description .desc-item .desc-item-text h4 {
        margin-top: 20px;
        margin-bottom: 0px; }
      .description .desc-item .desc-item-text p {
        margin-top: 10px;
        margin-bottom: 10px; }
